* {
  box-sizing: border-box;
}

body {
  background-color: #99CC99;
  color: #000000;
  font-family: Arial, Verdana, sans-serif;
}

header {
  background-color: #996600;
  color: #FFFFFF;
  font-family: Arial, Verdana, sans-serif;
}

h1 {
  background-image: url(coffeebeans.jpg);
  background-repeat: repeat;
  width: 100%;
  margin: 0;
  background-color: #996600;
  color: #FFFFFF;
}

nav {
  font-weight: bold;
  text-align: center;
}

nav li {
  display: inline-block;
}

h2 {
  background-color: #99CC99;
  color: #000000;
  font-family: Arial, Verdana, sans-serif;
}

div {
  padding-left: 10;
  padding-right: 10;
  white-space: normal;
}

ul {
  list-style-type: none;
}

main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

#one {
  float: left;
  width: 25%;
  margin-right: 70px;
}

#two {
  float: right;
  width: 25%;
}

#wrapper {
  background-color: #99CC99;
  height: 100%;
}

#imagemap {
  text-align: center;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#home {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

/*Media Queries */
@media only screen and (max-width: 1024px)